* {
    box-sizing: border-box;
}

p {
    margin: 0 4px;
}

.color {
    width: 24px;
    border-radius: 8px;
}

#red {
    background-color: red;
}
#blue {
    background-color: blue;
}
#green {
    background-color: green;
}
#purple {
    background-color: purple;
}

.color-container{
    display: flex;
    margin: 0 0 16px;

}

.button-container {
    display: flex;
    margin: 0 8px;
    align-items: center;
}

.quantity {
    margin: 0 4px
}

#container {
    outline: 1px solid;
    width: 240px;
    height: 240px;
    padding: 24px;
    border-radius: 16px;
    display: grid;
    grid-template-columns: repeat(3,64px);
    margin-bottom: 24px;
}

.item{
    height: 96px;
}